20*/*
astrometry*/*
dat*/*
fits/*
bad_data/*
log/*
no_need/*
no_wcs*/*
nw/*
observation/*
old_results/
pyraf/*
RefStar/mod/*
RefStar/noneed/*
RefStar/old/*
RefStar/ori/*
RefStar/plot/*
RefStar/RefStar/*
*mag_InstMag*/*
tmp/*
uparm/*
wcsfixed*/*
*.fits
*.log
*test*
#gitinit.sh
#gitpush.sh
#gitpull.sh
#.gitignore
error
*v[2-6].sh
*pdf
*ps
